chouette-exchange-netex/xsd/netex_part_3/part3_fares/netex_salesPackage_support-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_salesPackage_support">
	<xsd:include schemaLocation="netex_fareProduct_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES PACKAGE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx SALES PACKAGE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ====SALES PACKAGE.======================================================== -->
	<xsd:complexType name="salesPackages_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a SALES PACKAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SalesPackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SalesPackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageRef" type="SalesPackageRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SalesPackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SALES PACKAGE ELEMENT.======================================================== -->
	<xsd:simpleType name="SalesPackageElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageElementRef" type="SalesPackageElementRefStructureElement" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageElementRefStructureElement">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SalesPackageElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === SALES PACKAGE PRICE====================================================== -->
	<xsd:simpleType name="SalesPackagePriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DiscountablePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackagePriceRef" type="SalesPackagePriceRefStructure" substitutionGroup="DiscountablePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackagePriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="DiscountablePriceRefStructure">
				<xsd:attribute name="ref" type="SalesPackagePriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SALES TRANSACTION.======================================================== -->
	<xsd:simpleType name="SalesTransactionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesTransactionRef" type="SalesTransactionRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesTransactionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SalesTransactionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES TRANSACTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SALES PACKAGE SUBSTITIUTION =============================-->
	<xsd:simpleType name="SalesPackageSubstitutionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageSubstitutionRef" type="SalesPackageSubstitutionRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageSubstitutionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="SalesPackageSubstitutionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GROUP OF SALES PACKAGEs.======================================================== -->
	<xsd:complexType name="groupsOfSalesPackages_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a SALES PACKAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfSalesPackagesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfSalesPackagesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfSalesPackagesRef" type="GroupOfSalesPackagesRefStructure" substitutionGroup="GroupOfEntitiesRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfSalesPackagesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfEntitiesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF SALES PACKAGEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF SALES PACKAGE================================================== -->
	<xsd:complexType name="TypeOfSalesPackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfSalesPackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfSalesPackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfSalesPackageRef" type="TypeOfSalesPackageRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfSalesPackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfSalesPackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF SALES PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
</xsd:schema>
