chouette-exchange-netex/xsd/netex_part_3/part3_fares/netex_fareUsageParameterBooking_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareUsageParameterBooking_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_travelRightsValues_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareUsageParameter_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareUsageParameterBooking_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ====  PURCHASE  WINDOW================================================ -->
	<xsd:element name="PurchaseWindow" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PurchaseWindow_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PurchaseWindowGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PurchaseWindowIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PurchaseWindow_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PURCHASE WINDOW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PurchaseWindowGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PurchaseWindowGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for PURCHASE WINDOW Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumPeriodBeforeDeparture" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum period before departure that purchase must be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumPeriodBeforeDeparture" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum period before departure that purchase canbe made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====RESERVING=================================================== -->
	<xsd:element name="Reserving" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Reserving_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ReservingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ReservingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reserving_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RESERVING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ReservingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ReservingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESERVING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReservingRequirments" type="ServiceReservationFacilityListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of resrevation requried.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberToReserve" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of passengers required to be able to make a reservation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberToReserve" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of passsengers required to be able to make a reservation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ReservingCalculationGroup"/>
			<xsd:element name="BookingArrangements" type="BookingArrangementsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Booking Arrangements for Reservations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ReservingCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESERVING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasReservationFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a fee for reserving.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FeeBasis" type="PerBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether othere is afeed for reselling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasFreeConnectingReservations" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an additional  fee for connecting reservations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfFreeConnectingReservations" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is an additional  fee for connecting reservations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====RESELLING=================================================== -->
	<xsd:element name="Reselling" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Common resale conditions (i.e. for exchange or refund)  attaching to the product
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Reselling_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ResellingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reselling_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for RESELLING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ResellingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ResellingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Allowed" type="ResellTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ticket can be resold (ie refunded or exchanged respectively)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanChangeClass" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether transaction to change class of ticket is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UnusedTicketsOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether only full tickets can be resold.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="ResellingPeriodGroup"/>
			<xsd:group ref="ResellingCalculationGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResellingPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ResellWhen" type="ResellWhenEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event marking  when the  is exchangeable status of the ticket changes.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExchangeableFromDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration to start of period before (negative) or after (positive) the trigger point (i.e. either Start Of Validity or First Use ) or that ticket</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExchangeableUntilDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration to end of period before (negative) or after (positive) the trigger point (i.e. either Start Of Validity or First Use ) or that ticket</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ResellingCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for RESELLING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether othere is afeed for reselling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefundBasis" type="PerBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether othere is afeed for reselling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====EXCHANGING=================================================== -->
	<xsd:element name="Exchanging" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Exchanging_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ExchangingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ExchangingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Exchanging_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for EXCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reselling_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ExchangingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ExchangingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for EXCHANGING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberOfExchangesAllowed" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of exchanges allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====EXCHANGING=================================================== -->
	<xsd:element name="Refunding" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Whether and how the product may be refunded.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Refunding_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ResellingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RefundingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RefundingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Refunding_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for REFUNDING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reselling_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RefundingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RefundingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for REFUNDING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====TRANSFERABILITY=================================================== -->
	<xsd:element name="Transferability" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The number and characteristics of persons entitled to use the public transport service instead of the original customer.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Transferability_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransferabilityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransferabilityIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Transferability_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRANSFERABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TransferabilityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransferabilityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRANSFERABILITY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CanTransfer" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ticket can be transferred to another.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasTransferFee" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a fee for transferring ticket or travel document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
