chouette-exchange-netex/xsd/netex_part_3/part3_fares/netex_fareAccessRightParameter_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_accessRightParameter_version">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_submode_version-v0.3.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version-v0.3.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_travelRightsValues_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceCalendar_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_site_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_vehicleJourney_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_validityCondition_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_fareZone_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareUsageParameters_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareSeries_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_fareAccessRightParameter_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareUsageParameter_version-v0.1.xsd"/>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="groupsOfAccessRIghtParameterAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare collection parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfAccessRightParameterAssignments" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="validityParameterAssignmentsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>The assignment of a fare collection parameter (referring to geography, time, quality or usage) to an element of a fare system (access right, validated access, control mean, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="ValidityParameterAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="groupsOfAccessRightParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GROUP OF ACCESS RIGHT ASSIGNMENT PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GroupOfAccessRightParameterAssignmentsRef">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="GroupOfAccessRightParameterAssignments"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GroupOfAccessRightParameterAssignments" type="GroupOfAccessRightParameterAssignments_VersionStructure" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>Grouping of parameter assignments for representation of exclusive or alternative assignments (and/or)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfAccessRightParameterAssignments_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF ACCESS RIGHT PARAMETER ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfAccessRightParameterAssignmentsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfAccessRightParameterAssignmentsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF ACCESS RIGHT PARAMETER ASSIGNMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GroupingType" type="BooleanOperatorEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GroupOfAccessRightParameterAssignmentsRef" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="includes" type="groupOfAccessRightParameterAssignmentsRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Groups Logically  included in this group. Grousp are combined acording to the element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="GroupOfAccessRightParameterReferencesGroup"/>
			<xsd:element name="accessRightParameterAssignments" type="accessRightParameters_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACCCESS RIGHT PARAMETER ASSIGNMENTS in this group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GroupOfAccessRightParameterReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Structure References of a GROUP OF ACCESS RIGHT PARAMETER ASSIGNMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
			<xsd:element ref="FareElementInSequenceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="accessRightParameters_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE ACCESS RIGHT PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessRightParameterAssignmentRef"/>
					<xsd:element ref="AccessRightParameterAssignment_">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AccessRightParameterAssignment_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A parameter used to specify the use of a SALES PACKAGE or a FARE PRODUCT.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccessRightParameterAssignment" type="AccessRightParameterAssignment_VersionStructure" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>A parameter used to specify the use of a SALES PACKAGE or a FARE PRODUCT.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessRightParameterAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="AccessRightParameterAssignmentGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Relative order of assignment.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessRightParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nameof ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of ACCESS RIGHT PARAMETER ASSIGNMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="AccessRightParameterAssignmentPropertiesGroup"/>
			<xsd:group ref="CellUsageParameterReferencesGroup"/>
			<xsd:group ref="AccessRightTemporalScopeGroup"/>
			<xsd:group ref="AccessRightBaseScopeGroup"/>
			<xsd:group ref="AccessRightGlobalScopeGroup"/>
			<xsd:group ref="AccessRightRouteScopeGroup"/>
			<xsd:group ref="AccessRightServiceScopeGroup"/>
			<xsd:group ref="AccessRightFacilityScopeGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightParameterAssignmentPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Property Elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether values are allowed ro forbiden. Defaullt is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfAccessRightAssignmentRef" minOccurs="0"/>
			<xsd:element name="ChargingBasis" type="ChargingBasisEnumeration" default="any" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether ACCESS RIGHT ASSIGNMENT is chargable or not. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightTemporalScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Temporal scope Elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DayTypeRef" minOccurs="0"/>
			<xsd:element ref="GroupOfTimebandsRef" minOccurs="0"/>
			<xsd:element ref="OperatingDayRef" minOccurs="0"/>
			<xsd:element ref="ValidityConditionRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightBaseScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Base Access right scope elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ClassOfUseRef" minOccurs="0"/>
			<xsd:element name="SeatClass" type="FareClassEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seat class</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightGlobalScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Global scope elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicel Modes to which ACCESS RIGHTs  apply</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
			<xsd:element ref="GroupOfOperatorsRef" minOccurs="0"/>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:element ref="AuthorityRef" minOccurs="0"/>
			<xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="TariffZoneRef" minOccurs="0"/>
			<xsd:element ref="FareZoneRef" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
			<xsd:element ref="SiteElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightRouteScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Route scope elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RoutingType" type="RoutingTypeEnumeration" default="both" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether this is a direct ie no changes required point to point or indirect.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SeriesPatternRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="FareSectionRef" minOccurs="0"/>
			<xsd:element name="Directions" type="DirectionsEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether use SERIES, or FARE SECTION in forwards, backwards or both directions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightServiceScopeGroup">
		<xsd:annotation>
			<xsd:documentation>Service scope elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceJourneyPatternRef" minOccurs="0"/>
			<xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
			<xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
			<xsd:element ref="TrainNumberRef" minOccurs="0"/>
			<xsd:element ref="TypeOfServiceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessRightFacilityScopeGroup">
		<xsd:annotation>
			<xsd:documentation>FACILITY scope elements for ACCESS RIGHT PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FacilitySetRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="validityParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VALIDITY PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ValidityParameterAssignmentRef"/>
					<xsd:element ref="ValidityParameterAssignment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ValidityParameterAssignment" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>An ACCESS RIGHT PARAMETER ASSIGNMENT relating a fare collection parameter to a theoretical FARE PRODUCT (or one of its components) or a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ValidityParameterAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessRightParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidityParameterAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ValidityParameterAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ValidityParameterAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VALIDITY PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AccessRightParameterAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ValidityParameterAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidityParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VALIDITY PARAMETER ASSIGNMENT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
			<xsd:element ref="FareElementInSequenceRef" minOccurs="0"/>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
	<xsd:complexType name="TypeOfAccessRightAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF ACCESS RIGHT ASSIGNMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfAccessRightAssignmentRef"/>
					<xsd:element ref="TypeOfAccessRightAssignment">
						<xsd:annotation>
							<xsd:documentation>A TYPE OF ACCESS RIGHT ASSIGNMENT specifying access rights for the ACCESS RIGHT ASSIGNMENT ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfAccessRightAssignment" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of ACCESS RIGHT ASSIGNMENTs expressing their general functionalities and local functional characteristics specific to the operator. Types of ACCESS RIGHT ASSIGNMENTs like e.g. throw-away ticket, throw-away ticket unit, value card, electronic purse allowing access, public transport credit card etc. may be used to define these categories.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfAccessRightAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfAccessRightAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfAccessRightAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TYPE OF ACCESS RIGHT ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
