chouette-exchange-netex/xsd/netex_part_3/part3_fares/netex_fareStructure_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareStructure_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_typeOfValue_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_validityCondition_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyPattern_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareSeries_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareProduct_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareStructure_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="tariffsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="Tariff" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareFactorsInFrame">
		<xsd:annotation>
			<xsd:documentation>Geographic factors in FRAME</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="GeographicFactorsInFrame"/>
			<xsd:group ref="TimeFactorsInFrame"/>
			<xsd:group ref="QualityFactorsInFrame"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="GeographicFactorsInFrame">
		<xsd:annotation>
			<xsd:documentation>Geographic factors in FRAME</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="geographicalUnits" type="geographicalUnits_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL UNITs in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalIntervals" type="geographicalIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL INTERVALs in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL STRUCTURE FACTORS in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TimeFactorsInFrame">
		<xsd:annotation>
			<xsd:documentation>Time factors in FRAME</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeUnits" type="timeUnits_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME UNITs in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeIntervals" type="timeIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME INTERVALs in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME STRUCTURE FACTORS in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="QualityFactorsInFrame">
		<xsd:annotation>
			<xsd:documentation>Quality factors in FRAME</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="qualityStructureFactors" type="qualityStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE FACTORS in  Frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE=================================================== -->
	<xsd:element name="Tariff" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular tariff, described by a combination of parameters.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Tariff_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TariffGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TariffIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Tariff_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TariffGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TariffGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ATERNATIVE NAMEs for TARIFF</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONS for TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
			<xsd:group ref="TariffCalculationGroup"/>
			<xsd:group ref="TariffGeographicalGroup">
				<xsd:annotation>
					<xsd:documentation>Geographical Elements for TARIFF</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TariffTimeGroup">
				<xsd:annotation>
					<xsd:documentation>Time Elements for TARIFF</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="TariffStructureGroup"/>
			<xsd:group ref="TariffPriceGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffCalculationGroup">
		<xsd:annotation>
			<xsd:documentation>Calculation Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfTariffRef" minOccurs="0"/>
			<xsd:element name="TariffBasis" type="TariffBasisEnumeration" default="route" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of  Tariff Buteasis. Defaut is Route (Tap TSI)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReturnFareTwiceSingle" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whetehr retrn fare is  normally twice single fare. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffGeographicalGroup">
		<xsd:annotation>
			<xsd:documentation>Geographical Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:element name="geographicalIntervals" type="geographicalIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL INTERVALs  making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GEOGRAPHICAL STRUCTURE FACTORs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeUnitRef" minOccurs="0"/>
			<xsd:element name="timeIntervals" type="timeIntervals_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIME STRUCTURE FACTORs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffStructureGroup">
		<xsd:annotation>
			<xsd:documentation>Structure Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="qualityStructureFactors" type="qualityStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareStructureElements" type="fareStructureElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>FARE STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfDistanceMatrixElements" type="groupsOfDistanceMatrixElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs of DISTANCE MATRIX ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distanceMatrixElements" type="distanceMatrixElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTANCE MATRIX ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TariffPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Structure Elements for TARIFF</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="priceGroups" type="priceGroups_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>QUALITY STRUCTURE ELEMENTs making up TARIFF.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE ELEMENT.============================================= -->
	<xsd:complexType name="fareStructureElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureElementRef"/>
					<xsd:element ref="FareStructureElement">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElement" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE STRUCTURE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nameof FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIOSN for element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="fareStructureElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fareStructureElementsInSequence" type="fareStructureElementsInSequence_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use of FARESTRUCTURE ELEMENTs in a particular sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographicalStructureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>References to GEOGRAPHICAL STRUCTURE FACTORs pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>References to TIME STRUCTURE FACTORs pertaining to FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfAccessRightParameterAssignments" type="groupsOfAccessRightParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs associated with FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE ELEMENT IN SEQUENCE.============================= -->
	<xsd:complexType name="fareStructureElementsInSequence_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence maxOccurs="1">
					<xsd:element ref="FareStructureElementInSequence" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElementInSequence" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A FARE STRUCTURE ELEMENT as a part of a VALIDABLE ELEMENT, including its possible order in the sequence of FARE STRUCTURE ELEMENTs forming that VALIDABLE ELEMENT, and its possible quantitative limitation.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElementInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareElementInSequenceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementInSequenceIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElementInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareElementInSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementInSequenceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE STRUCTURE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
			<xsd:element name="groupsOfAccessRightParameterAssignments" type="groupsOfAccessRightParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs associated with FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityParameterAssignments" type="validityParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETER ASSIGNMENTs associated with FARE STRUCTURE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == FARE STRUCTURE ELEMENT PRICE.================================ -->
	<xsd:complexType name="fareStructureElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureElementPriceRef"/>
					<xsd:element name="FareStructureElementPrice" type="FareStructureElementPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureElementPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureElementPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DiscountablePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureElementPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureElementPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureElementPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FARE STRUCTURE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiscountablePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureElementPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureElementPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareStructureElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- == GROUP OF DISTANCE MATRIX ELEMENT  ======================-->
	<xsd:complexType name="groupsOfDistanceMatrixElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GROUP OF DISTANCE MATRIX ELEMENTss.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GroupOfDistanceMatrixElementsRef"/>
					<xsd:element ref="GroupOfDistanceMatrixElements"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GroupOfDistanceMatrixElements" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular tariff, described by a combination of parameters.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfDistanceMatrixElements_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfDistanceMatrixElementsGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfDistanceMatrixElementsIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfDistanceMatrixElements_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GROUP OF DISTANCE MATRIX ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfDistanceMatrixElementsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfDistanceMatrixElementsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GROUP OF DISTANCE MATRIX ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of GROUP OF DISTANCE MATRIX ELEMENTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Distance" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUP OF DISTANCE MATRIX ELEMENTs to use when advertising Train -If different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONs applying to element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="structureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use of FARE STRUCTURE ELEMENTs in a particular sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="members" type="distanceMatrixElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFFs applying to element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="distanceMatrixElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>prices associated with DSISTANCE MATYRIC ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === DISTANCE MATRIX ELEMENT  ================================================= -->
	<xsd:complexType name="distanceMatrixElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DISTANCE MATRIX ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="DistanceMatrixElementRef"/>
					<xsd:element ref="DistanceMatrixElement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DistanceMatrixElement" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A particular tariff, described by a combination of parameters.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DistanceMatrixElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DistanceMatrixElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DistanceMatrixElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DistanceMatrixElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DISTANCE MATRIX ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DistanceMatrixElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DistanceMatrixElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DISTANCE MATRIX ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DISTANCE MATRIX ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Distance" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DISTANCE MATRIX ELEMENT to use when advertising Train -If different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence>
				<xsd:choice>
					<xsd:choice>
						<xsd:element name="StartStopPointRef" type="ScheduledStopPointRefStructure">
							<xsd:annotation>
								<xsd:documentation>Start SCHEDULED STOP POINT for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="StartStopPointView" type="ScheduledStopPoint_DerivedViewStructure">
							<xsd:annotation>
								<xsd:documentation>Expanded view of Start POIT with Name etc</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="StartTariffZoneRef" type="TariffZoneRefStructure">
							<xsd:annotation>
								<xsd:documentation>Start TARIFF ZONE for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="StartTariffZoneView" type="Zone_DerivedViewStructure">
							<xsd:annotation>
								<xsd:documentation>Expanded view of start TARIFF ZONE for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="FromFareSectionRef" type="FareSectionRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>FARE SECTION at which  element begins</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:choice>
					<xsd:choice>
						<xsd:element name="EndStopPointRef" type="ScheduledStopPointRefStructure">
							<xsd:annotation>
								<xsd:documentation>End SCHEDULED STOP POINT for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EndStopPointView" type="ScheduledStopPoint_DerivedViewStructure">
							<xsd:annotation>
								<xsd:documentation>Expanded view of end POIT with Name etc</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="EndTariffZoneRef" type="TariffZoneRefStructure">
							<xsd:annotation>
								<xsd:documentation>End TARIFF ZONE for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EndTariffZoneView" type="Zone_DerivedViewStructure">
							<xsd:annotation>
								<xsd:documentation>Expanded view of endTARIFF ZONE for Cell of DISTANCE MATRIX.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="ToFareSectionRef" type="FareSectionRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>FARE SECTION at which  element ends.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
			<xsd:element name="validityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONs applying to element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="structureFactors" type="geographicalStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Use of FARE STRUCTURE ELEMENTs in a particular sequence.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffs" type="tariffRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFFs applying to element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PriceGroupRef" minOccurs="0"/>
			<xsd:element name="seriesPatterns" type="SeriesPatterns_RelStructure" minOccurs="0"/>
			<xsd:element name="prices" type="distanceMatrixElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>prices associated with DSISTANCE MATYRIC ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceGroups" type="priceGroups_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prices for Matrix as Group</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == DISTANCE MATRIX ELEMENT PRICE.================================ -->
	<xsd:complexType name="distanceMatrixElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DISTANCE MATRIX ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FarePriceRef"/>
					<xsd:element ref="DistanceMatrixElementPrice"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DistanceMatrixElementPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a DISTANCE MATRIX ELEMENT: default total price etc.
.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DistanceMatrixElementPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DistanceMatrixElementPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DistanceMatrixElementPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DistanceMatrixElementPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DISTANCE MATRIX ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="DistanceMatrixElementPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DistanceMatrixElementPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DISTANCE MATRIX ELEMENT PRICe.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====GEOGRAPHICAL UNIT======================================== -->
	<xsd:complexType name="geographicalUnits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalUnitRef"/>
					<xsd:element ref="GeographicalUnit">
						<xsd:annotation>
							<xsd:documentation>A geographical UNIT specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalUnit" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices, 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalUnit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalUnitIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of a GEOGRAPHICAL UNIT</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalUnit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:element name="Distance" type="DistanceType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distance of unit in SI meteres</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====GEOGRAPHICAL INTERVAL ========================================== -->
	<xsd:complexType name="geographicalIntervals_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL INTERVALs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalIntervalRef"/>
					<xsd:element ref="GeographicalInterval">
						<xsd:annotation>
							<xsd:documentation>A geographical interval specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this interval: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalInterval" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices, 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalInterval_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalIntervalIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalInterval_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GEOGRAPHICAL INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of GEOGRAPHICAL INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartGeographicalValue" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start value for Geographic Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndGeographicalValue" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End value for Geographic Interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="geographicalStructureElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of GEOGRAPHICAL INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====FARE STRUCTURE ELEMENT.============================================= -->
	<xsd:complexType name="fareStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE STRUCTURE FACTORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareStructureFactorRef"/>
					<xsd:element ref="FareStructureFactor">
						<xsd:annotation>
							<xsd:documentation>A sequence or set of CONTROLLABLE ELEMENTs to which rules for limitation of access rights and calculation of prices (fare structure) are applied.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareStructureFactor" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices, 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareStructureFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareStructureFactorIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareStructureFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="FareStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE STRUCTURE FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== GEOGRAPHICAL STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="geographicalStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalStructureFactorRef"/>
					<xsd:element ref="GeographicalStructureFactor" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalStructureFactor" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The value of a GEOGRAPHICAL INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a GEOGRAPHICAL UNIT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalStructureFactor_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalStructureFactor_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a GEOGRAPHICAL STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="GeographicalIntervalRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="NumberOfUnits" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Number of units of </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AmountFactor" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Arbitrary AMount fro calculation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<!-- == GEOGRAPHICAL INTERVAL PRICE.================================ -->
	<xsd:complexType name="geographicalStructureElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of GEOGRAPHICAL INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="GeographicalIntervalPriceRef"/>
					<xsd:element name="GeographicalIntervalPrice" type="GeographicalIntervalPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL INTERVAL : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeographicalIntervalPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a GEOGRAPHICAL INTERVAL: default total price etc.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeographicalIntervalPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DiscountablePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeographicalIntervalPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeographicalIntervalPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeographicalIntervalPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GEOGRAPHICAL INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiscountablePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="GeographicalIntervalPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeographicalIntervalPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="GeographicalIntervalRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====TIME UNIT======================================== -->
	<xsd:complexType name="timeUnits_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME UNITs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeUnitRef"/>
					<xsd:element ref="TimeUnit">
						<xsd:annotation>
							<xsd:documentation>A time UNIT specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this UNIT: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeUnit" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices, 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeUnit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeUnitIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeUnit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME UNIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====TIME INTERVAL ========================================== -->
	<xsd:complexType name="timeIntervals_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME INTERVALs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeIntervalRef"/>
					<xsd:element ref="TimeInterval">
						<xsd:annotation>
							<xsd:documentation>A time interval specifying access rights for the FARE STRUCTURE ELEMENTs within the range of this interval: 0-5 km, 4-6 zones etc.
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeInterval" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A factor influencing access rights definition or calculation of prices, 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeInterval_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeIntervalIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeInterval_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TimeIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TIME INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of a TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start time for TIME INTERVAL if restricted to a specific time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End value for TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayOffset" type="DayOffsetType" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Day Offset for end time from start time. 0= same day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration for TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="timeStructureElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs of TIME INTERVAL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStructureFactors" type="timeStructureFactors_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>IME STRUCTURE FACTORs associated with this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== TIME STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="timeStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeStructureFactorRef"/>
					<xsd:element ref="TimeStructureFactor" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeStructureFactor" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The value of a TIME INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a TIME UNIT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeStructureFactor_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeStructureFactor_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TimeStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TIME STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
			<xsd:element ref="TimeUnitRef" minOccurs="0"/>
			<xsd:element ref="QualityStructureFactor" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- == TIME INTERVAL PRICE.================================ -->
	<xsd:complexType name="timeStructureElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TIME INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TimeIntervalPriceRef"/>
					<xsd:element name="TimeIntervalPrice" type="TimeIntervalPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a TIME INTERVAL : default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TimeIntervalPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a TIME INTERVAL: default total price etc.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimeIntervalPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DiscountablePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeIntervalPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimeIntervalPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeIntervalPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TIME INTERVAL PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiscountablePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TimeIntervalPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TimeIntervalPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements defining a span of time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== QUALITY STRUCTURE FACTOR.============================= -->
	<xsd:complexType name="qualityStructureFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="QualityStructureFactorRef"/>
					<xsd:element ref="QualityStructureFactor_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="QualityStructureFactor_" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Dummmy type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityStructureFactor" abstract="false" substitutionGroup="QualityStructureFactor_">
		<xsd:annotation>
			<xsd:documentation>The value of a QUALITY INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a QUALITY UNIT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="QualityStructureFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="QualityStructureFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="QualityStructureFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="QualityStructureFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="QualityStructureFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a QUALITY STRUCTURE FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TariffRef" minOccurs="0"/>
			<xsd:element ref="DistanceMatrixElementRef" minOccurs="0"/>
			<xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FARE DEMAND  FACTOR.============================= -->
	<xsd:complexType name="fareDemandFactors_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FareDemandFactorRef"/>
					<xsd:element ref="FareDemandFactor"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareDemandFactor" abstract="false" substitutionGroup="QualityStructureFactor_">
		<xsd:annotation>
			<xsd:documentation>The value of a QUALITY INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a QUALITY UNIT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareDemandFactor_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="QualityStructureFactorGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareDemandFactorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareDemandFactorIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareDemandFactor_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QualityStructureFactor_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FareDemandFactorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareDemandFactorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE DEMAND FACTOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="availabilityConditions" type="availabilityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Temporal conditions defining FARE DEMAD FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startTimesAtStopPoints" type="startTimeAtStopPoints_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start times at SCHEDULED STOP POINTS refining  FARE DEMAND FACTOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FARE DEMAND  FACTOR.============================= -->
	<xsd:complexType name="startTimeAtStopPoints_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="StartTimeAtStopPointRef"/>
					<xsd:element ref="StartTimeAtStopPoint"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="StartTimeAtStopPoint" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>The value of a QUALITY INTERVAL or a DISTANCE MATRIX ELEMENT expressed by a QUALITY UNIT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StartTimeAtStopPoint_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StartTimeAtStopPointGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StartTimeAtStopPointIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StartTimeAtStopPoint_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="StartTimeAtStopPointGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StartTimeAtStopPointGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a START TIME AT STOP POINT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareDemandFactorRef" minOccurs="0"/>
			<xsd:element ref="ScheduledStopPointRef"/>
			<xsd:element name="StartTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>Time at stop at whichh Fare demand period starts</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==TYPE OF TARIFF======================================================= -->
	<xsd:element name="TypeOfTariff" abstract="false" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>A classification of TARIFFs according to their functional purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfTariff_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfTariffIdType"/>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="Tariff">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfTariff_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF TARIFF.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
