chouette-exchange-netex/xsd/netex_part_3/part3_fares/tmp0000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_fareProduct_version">
	<xsd:include schemaLocation="netex_fareProduct_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_fareAccessRightParameter_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_alternativeName_version-v0.4.xsd"/>
	<xsd:include schemaLocation="netex_fareConditionSummary_version-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in FARE FRAME)=================================================== -->
	<xsd:complexType name="fareProductsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="FareProduct_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="validableElementsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame ofVALIDABLE ELEMENTs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="ValidableElement" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====FARE PRODUCT=================================================== -->
	<xsd:element name="FareProduct_" type="DataManagedObjectStructure" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>An immaterial marketable element (access rights, discount rights etc), specific to a CHARGING MOMENT.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FareProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>An immaterial marketable element (access rights, discount rights etc), specific to a CHARGING MOMENT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareProduct_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareProduct_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="FareProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternative names for FARE PRODUCTs</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ChargingMomentRef" minOccurs="0"/>
			<xsd:element ref="ConditionSummary" minOccurs="0"/>
			<xsd:element name="groupsOfAccessRightParameterAssignments" type="groupsOfAccessRightParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPS of ACCCESS RIGHT PARAMETR ASSIGNMENTss making up FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityParameterAssignments" type="accessRightParameters_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY PARAMETR ASSIGNMENTss making up FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validableElements" type="validableElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDABLE ELEMENTs making up FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceGroups" type="priceGroups_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs  making up FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="fareProductPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs  making up FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prerequisites" type="fareProductRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prerequisite FRAE PARODUCTS for PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notices" type="notices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE explaining  FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SALES DISCOUNT RIGHT.=============================================== -->
	<xsd:element name="SaleDiscountRight" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT allowing a customer to benefit from discounts when purchasing SALES PACKAGEs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SaleDiscountRight_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SaleDiscountRightGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SaleDiscountRightIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SaleDiscountRight_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SaleDiscountRightGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SaleDiscountRightGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SALES DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== USAGE DISCOUNT RIGHT.=============================================== -->
	<xsd:element name="UsageDiscountRight" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT allowing a customer to benefit from discounts when consuming VALIDABLE ELEMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UsageDiscountRight_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageDiscountRightGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UsageDiscountRightIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UsageDiscountRight_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USAGE DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="UsageDiscountRightGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UsageDiscountRightGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a USAGE DISCOUNT RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:group>
	<!-- ==== USAGE DISCOUNT RIGHT.=============================================== -->
	<xsd:element name="CappedUsageRight" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT allowing a customer to benefit from discounts when consuming VALIDABLE ELEMENTs.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UsageDiscountRight_VersionStructure">
					<xsd:sequence/>
					<xsd:attribute name="id" type="CappedUsageRightIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CappedUsageRight_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CAPPED USAGE RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="CappedUsageRightGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CappedUsageRightGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CAPPED USAGE RIGHT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CappingPeriod" type="CappingPeriodEnumeration" default="day" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Period with which capping accumulation is done.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cappingProducts" type="fareProductRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prerequisite FRAE PARODUCTS for PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== AMOUNT OF PRICE UNIT PRODUCT.=============================================== -->
	<xsd:element name="AmountOfPriceUnitProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT consisting in a stored value of PRICE UNITs: an amount of money on an electronic purse, amount of units on a value card etc.

</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AmountOfPriceUnitProduct_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AmountOfPriceUnitProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AmountOfPriceUnitProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AmountOfPriceUnitProduct_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for AMOUNT OF PRICE UNIT PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AmountOfPriceUnitProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AmountOfPriceUnitProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a AMOUNT OF PRICE UNIT PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="Amount" type="CurrencyAmountType">
					<xsd:annotation>
						<xsd:documentation>Currency amount of Price Unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Currency of Amount.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Units" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation>Unit amount of price unit.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GeographicalUnitRef" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:group>
	<!-- ==== PREASSIGNED FARE PRODUC=============================================== -->
	<xsd:element name="PreassignedFareProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT consisting of one or several VALIDABLE ELEMENTs, specific to a CHARGING MOMENT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PreassignedFareProduct_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PreassignedFareProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PreassignedFareProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PreassignedFareProduct_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PREASSIGNED FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PreassignedFareProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PreassignedFareProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PREASSIGNED FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accessRightsInProduct" type="accessRightsInProduct_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Access rights given by product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== PREASSIGNED FARE PRODUC=============================================== -->
	<xsd:element name="SupplementProduct" abstract="false" substitutionGroup="FareProduct_">
		<xsd:annotation>
			<xsd:documentation>A FARE PRODUCT consisting of one or several VALIDABLE ELEMENTs, specific to a CHARGING MOMENT.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SupplementProduct_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PreassignedFareProductGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SupplementProductGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PreassignedFareProductIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SupplementProduct_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for PREASSIGNED FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PreassignedFareProduct_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SupplementProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SupplementProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PREASSIGNED FARE PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- === FARE ELEMENT IN SEQUENCE.=================================== -->
	<xsd:element name="FareElementInSequence" abstract="false" substitutionGroup="VersionedChild" id="FareElementInSequence">
		<xsd:annotation>
			<xsd:documentation>A FARE STRUCTURE ELEMENT as a part of a VALIDABLE ELEMENT, including its possible order in the sequence of FARE STRUCTURE ELEMENTs forming that VALIDABLE ELEMENT, and its possible quantitative limitation.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareElementInSequence_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareElementInSequenceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareElementInSequenceIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareElementInSequence_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FARE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareElementInSequenceGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>order of element in sequence.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareElementInSequenceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE ELEMENT IN SEQUENCE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of FARE PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFirstInSequence" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element is first in sequence. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsLastInSequence" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether element is first in sequence. Default is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ValidableElementRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="accessRightsInProduct_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of ACCESS RIGHT IN PRODUCTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessRightInProductRef"/>
					<xsd:element ref="AccessRightInProduct"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====ACCESS RIGHT IN PRODUCT..============================= -->
	<xsd:element name="AccessRightInProduct" type="AccessRightInProduct_VersionedChildStructure" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A VALIDABLE ELEMENT as a part of a PRE-ASSIGNED FARE PRODUCT, including its possible order in the set of all VALIDABLE ELEMENTs grouped together to define the access right assigned to that PRE-ASSIGNED FARE PRODUCT.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccessRightInProduct_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ACCESS RIGHT IN PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareElementInSequence_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="AccessRightInProductGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessRightInProductGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a ACCESS RIGHT IN PRODUCT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PreassignedFareProductRef" minOccurs="0"/>
			<xsd:element name="groupsOfAccessRightParameterAssignments" type="groupsOfAccessRightParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>AccssRightParameterAssignments that apply to the validable elemnt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="ChargingMoment" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of FARE PRODUCTs according to the payment method and the account location: pre-payment with cancellation (throw-away), pre-payment with debit on a value card, pre-payment without consumption registration (pass), post-payment etc.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ChargingMoment_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ChargingMomentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ChargingMoment_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CHARGING MOMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- == FARE PRICEs.============================= -->
	<xsd:complexType name="fareProductPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE PRODUCT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="FarePriceRef"/>
					<xsd:element name="FareProductPrice" type="FareProductPrice_VersionedChildStructure">
						<xsd:annotation>
							<xsd:documentation>A set of all possible price features of a FARE STRUCTURE ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FareProductPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a FARE PRODUCT ELEMENT: default total price, discount in value or percentage etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FareProductPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DiscountablePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareProductPriceGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FareProductPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FareProductPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a FARE PRODUCT PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiscountablePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="FareProductPriceGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FareProductPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a FARE PRODUCT PRICe.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="FareProductRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====VALIDABLE ELEMENT=================================================== -->
	<xsd:complexType name="validableElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of FARE PRODUCT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ValidableElementRef"/>
					<xsd:element ref="ValidableElement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ValidableElement" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A sequence or set of FARE STRUCTURE ELEMENTs, grouped together to be validated in one go.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ValidableElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidableElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ValidableElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ValidableElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VALIDABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="ValidableElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ValidableElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a VALIDABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of VALIDABLE ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ChargingMomentRef" minOccurs="0"/>
			<xsd:element name="usageDiscountRights" type="usageDiscountRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>USAGE DISCOUNT RIGHTs  associated with VALIDABLE ELEMENT </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amountOfPriceUnits" type="amountOfPriceUnitRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>AMOUNT OF PRICE units associated with VALIDABLE ELEMENT </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfAccessRightParameterAssignments" type="groupOfAccessRightParameterAssignmentsRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs OF ACCESS RIGHT PARAMETER ASSIGNMENTs associated with VALIDABLE ELEMENT </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prices" type="fareProductPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PRICEs for associated  VALIDABLE ELEMENT </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
