chouette-exchange-netex/xsd/netex_framework/netex_reusableComponents/netex_travelRights_types-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_travelRights">
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_support-v0.1.xsd"/>
	<xsd:simpleType name="ClassOfUseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="ClassOfUseRef" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ClassOfUseRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ClassOfUseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="ClassOfUseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CLASS OF USE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================== -->
	<xsd:simpleType name="FareClassEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Fare Class Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>pti23_0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="firstClass">
				<xsd:annotation>
					<xsd:documentation>pti23_6</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="secondClass ">
				<xsd:annotation>
					<xsd:documentation>pti23_7</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="thirdClass">
				<xsd:annotation>
					<xsd:documentation>pti23_8</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="preferente"/>
			<xsd:enumeration value="premiumClass">
				<xsd:annotation>
					<xsd:documentation>pti23_6_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="businessClass">
				<xsd:annotation>
					<xsd:documentation>Busienss Class - pti23_10</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="standardClass">
				<xsd:annotation>
					<xsd:documentation>Standard class Add pti23_7</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turista"/>
			<xsd:enumeration value="economyClass">
				<xsd:annotation>
					<xsd:documentation>pti23_9</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="ReservationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Reservation. UIC 7037 Code list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="reservationsCompulsory"/>
			<xsd:enumeration value="reservationsCompulsoryForGroups"/>
			<xsd:enumeration value="reservationsCompulsoryForFirstClass"/>
			<xsd:enumeration value="reservationsCompulsoryFromOriginStation"/>
			<xsd:enumeration value="reservationsRecommended"/>
			<xsd:enumeration value="reservationsPossible"/>
			<xsd:enumeration value="reservationsPossibleOnlyInFirstClass"/>
			<xsd:enumeration value="reservationsPossibleOnlyInSecondClass"/>
			<xsd:enumeration value="reservationsPossibleForCertainClasses"/>
			<xsd:enumeration value="groupBookingRestricted"/>
			<xsd:enumeration value="noGroupsAllowed"/>
			<xsd:enumeration value="noReservationsPossible"/>
			<xsd:enumeration value="wheelchairOnlyReservations"/>
			<xsd:enumeration value="bicycleReservationsCompulsory"/>
			<xsd:enumeration value="reservationsSupplementCharged"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReservationListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Reservation types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ReservationEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BookingMethodListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Flexible Booking method.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="BookingMethodEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="BookingMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Flexible Booking method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="callDriver"/>
			<xsd:enumeration value="callOffice"/>
			<xsd:enumeration value="online"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="phoneAtStop"/>
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BookingAccessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Booking Access.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="public"/>
			<xsd:enumeration value="authorisedPublic"/>
			<xsd:enumeration value="staff"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="BookingProcessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Booking Process UIC 7037 Code list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="productNotAvailable"/>
			<xsd:enumeration value="productNotBookable"/>
			<xsd:enumeration value="bookableThroughInternationalSystem"/>
			<xsd:enumeration value="bookableThroughNationalSystem"/>
			<xsd:enumeration value="bookableManuallly"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BookingProcessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Booking Process types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="BookingProcessEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="GroupBookingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Group Booking.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="groupsAllowed"/>
			<xsd:enumeration value="groupsNotAllowed"/>
			<xsd:enumeration value="groupsAllowedWithReservation"/>
			<xsd:enumeration value="groupBookingsRestricted"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupBookingListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Group Booking types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="GroupBookingEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CateringRightsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Caterings rights.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="mealIncluded"/>
			<xsd:enumeration value="mealIncludedForFirstClassPassengers"/>
			<xsd:enumeration value="noMealIncluded"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CateringServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CATERING SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bar"/>
			<xsd:enumeration value="beverageVendingMachine"/>
			<xsd:enumeration value="buffet"/>
			<xsd:enumeration value="coffeeShop"/>
			<xsd:enumeration value="firstClassRestaurant"/>
			<xsd:enumeration value="foodVendingMachine"/>
			<xsd:enumeration value="hotFoodService"/>
			<xsd:enumeration value="restaurant"/>
			<xsd:enumeration value="snacks"/>
			<xsd:enumeration value="trolleyService"/>
			<xsd:enumeration value="noBeveragesAvailable"/>
			<xsd:enumeration value="noFoodServiceAvailable"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CateringServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of CATERING SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CateringServiceEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CyclesOnServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Cycles on Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="notAllowed"/>
			<xsd:enumeration value="onlyFoldingAllowed"/>
			<xsd:enumeration value="allowedSubjectToRestrictions"/>
			<xsd:enumeration value="mustBook"/>
			<xsd:enumeration value="allowedAtAllTimes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CommunicationServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Communication Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="freeWifi"/>
			<xsd:enumeration value="publicWifi"/>
			<xsd:enumeration value="phone"/>
			<xsd:enumeration value="internet"/>
			<xsd:enumeration value="mobileCoverage"/>
			<xsd:enumeration value="videoEntertainment"/>
			<xsd:enumeration value="audioEntertainment"/>
			<xsd:enumeration value="postbox"/>
			<xsd:enumeration value="postOffice"/>
			<xsd:enumeration value="businessServices"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommunicationServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Communication Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CommunicationServiceEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="GenderLimitationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CATERING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="femaleOnly"/>
			<xsd:enumeration value="maleOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="PaymentMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Payment method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="cash"/>
			<xsd:enumeration value="coins"/>
			<xsd:enumeration value="cheque"/>
			<xsd:enumeration value="creditCard"/>
			<xsd:enumeration value="debitCard"/>
			<xsd:enumeration value="cardsOnly"/>
			<xsd:enumeration value="travelCard"/>
			<xsd:enumeration value="contactlessCreditCard"/>
			<xsd:enumeration value="mobilePhone"/>
			<xsd:enumeration value="token"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentMethodListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of payment methods.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PaymentMethodEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="SanitaryFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Sanitary Facility Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="toilet"/>
			<xsd:enumeration value="wheelChairAccessToilet"/>
			<xsd:enumeration value="shower"/>
			<xsd:enumeration value="washingAndChangeFacilities"/>
			<xsd:enumeration value="babyChange"/>
			<xsd:enumeration value="wheelchairBabyChange"/>
			<xsd:enumeration value="shoeShiner"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SanitaryFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Sanitary Facilities.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SanitaryFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="TicketTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Ticket Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="standard"/>
			<xsd:enumeration value="promotion"/>
			<xsd:enumeration value="concession"/>
			<xsd:enumeration value="group"/>
			<xsd:enumeration value="season"/>
			<xsd:enumeration value="carnet"/>
			<xsd:enumeration value="travelCard"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Ticket Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketTypeEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="TicketingServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Ticketing Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="purchase"/>
			<xsd:enumeration value="collection"/>
			<xsd:enumeration value="cardTopUp"/>
			<xsd:enumeration value="reservations"/>
			<xsd:enumeration value="excessFares"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketingServiceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Ticketing Services.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketingServiceFacilityEnumeration"/>
	</xsd:simpleType>
</xsd:schema>
