chouette-exchange-netex/xsd/netex_framework/netex_reusableComponents/netex_otherOrganisation_version-v0.1.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_transportOrganisation_version">
	<xsd:include schemaLocation="netex_otherOrganisation_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_serviceCalendar_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_address_version-v0.3.xsd"/>
	<!-- ======================================================================= -->
	<xsd:element name="OtherOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>Generic ORGANISATION being neither an AUTHORITY, neither a public transport OPERATOR (TRAVEL AGENT, MANAGEMENT AGENT, etc.).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherOrganisation_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OtherOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OtherOrganisationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OtherOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Address" type="PostalAddress_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TravelAgent" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION other than AUTHORITY or OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelAgent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for Organisation</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelAgentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRAVEL AGENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelAgent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ManagementAgent" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION that manages data or a  SITE or FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ManagementAgent_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for Organisation</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ManagementAgentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of MANAGEMENT AGENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ManagementAgent_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="GeneralOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>Any type of GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeneralOrganisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GeneralOrganisationIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GENERAL ORGANISATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeneralOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="ServicedOrganisation" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION for which Service is provided, e.g. school college.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ServicedOrganisation_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup">
								<xsd:annotation>
									<xsd:documentation>Details for ORGANISATION.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OtherOrganisationGroup"/>
						</xsd:sequence>
						<xsd:group ref="ServicedOrganisationGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ServicedOrganisationIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  SERVICED ORGANISATION.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServicedOrganisation_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OtherOrganisation_VersionStructure">
				<xsd:group ref="ServicedOrganisationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ServicedOrganisationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
			<xsd:element name="ServicedOrganisationType" type="ServicedOrganisationTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of serviced ORGANISATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OrganisationDayType" substitutionGroup="DayType_">
		<xsd:annotation>
			<xsd:documentation>DAY TYPE defined as being available on days when ORGANISATION is open and requires service.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OrganisationDayType_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DayTypeGroup"/>
						</xsd:sequence>
						<xsd:group ref="OrganisationDayTypeGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="DayTypeIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  ORGANISATION DAY TYPE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OrganisationDayType_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ORGANISATION. DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DayType_VersionStructure">
				<xsd:group ref="OrganisationDayTypeGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OrganisationDayTypeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an ORGANISATION. DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsServiceDay" type="xsd:boolean" minOccurs="0"/>
			<xsd:element ref="ServicedOrganisationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
