chouette-exchange-netex/xsd/netex_framework/netex_reusableComponents/netex_transportOrganisation_version-v0.1.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_transportOrganisation_version">
	<xsd:include schemaLocation="netex_transportOrganisation_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_reusableComponents/netex_mode_version-v0.3.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_address_version-v0.3.xsd"/>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="OrganisationInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>ORGANISATION elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="organisations" type="organisationsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ORGANISATIONs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupsOfOperators" type="groupsOfOperatorsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPs OF OPERATORs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operationalContexts" type="operationalContextsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATIONAL CONTEXTs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="controlCentres" type="controlCentresInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CONTROL CENTREs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="groupsOfOperatorsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfOperators" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="transportOperatorsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRANSPORT OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="Authority"/>
					<xsd:element ref="Operator"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="operationalContextsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of OPERATIONAL CONTEXTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="OperationalContext" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="controlCentresInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of CONTROL CENTREs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ControlCentre" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT. 
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====Operator========================================================== -->
	<xsd:element name="Operator" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>A company  providing public transport services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Operator_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatorGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatorIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  OPERATOR.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Operator_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OperatorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATOR.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CountryRef" minOccurs="0"/>
			<xsd:element name="Address" type="PostalAddress_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PrimaryMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Primary transport MODE of operator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatorActivities" type="ListOfOperatorActivities" default="passenger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Activities undertaken by operator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomerServiceContactDetails" type="ContactStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact details for Customer service use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="departments" type="departments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Departments of OPERATOR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="Authority" substitutionGroup="Organisation_">
		<xsd:annotation>
			<xsd:documentation>The ORGANISATION under which the responsibility of organising the transport service in a certain area is placed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Authority_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AuthorityGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AuthorityIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of AUTHORITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Authority_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Organisation_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AuthorityGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AuthorityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an AUTHORITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Address" type="PostalAddress_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Address of AUTHORITY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="authorityTypes" type="typeOfOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of Zone. Used for arbitrary documentation -.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ==GROUP OF OPERATORs============================================================ -->
	<xsd:element name="GroupOfOperators" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GroupOfOperatorsStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfOperatorsGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfOperatorsIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  GROUP OF OPERATORs.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GroupOfOperatorsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfOperatorsGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfOperatorsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for GROUP OF OPERATORs.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="transportOrganisationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operators in group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====Operator========================================================== -->
	<xsd:element name="OperationalContext" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Characterization of a set of operational objects, such as timing or links determined either by a DEPARTMENT or by an ORGANISATIONAL UNIT. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperationalContext_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperationalContextGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperationalContextIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  OPERATIONAL CONTEXT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperationalContext_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="OperationalContextGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperationalContextGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the OPERATIONAL CONTEXT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A short name of the OPERATIONAL CONTEXT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
			<xsd:element ref="OrganisationPartRef" minOccurs="0"/>
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="TransportSubmode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====OperatingDepartment========================================================= -->
	<xsd:element name="OperatingDepartment" substitutionGroup="OrganisationPart_">
		<xsd:annotation>
			<xsd:documentation>A specific DEPARTMENT which administers certain LINEs. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="OperatingDepartment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DepartmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OperatingDepartmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="OperatingDepartmentIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of  OPERATING DEPARTMENT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OperatingDepartment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Department_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="OperatingDepartmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="OperatingDepartmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of an OPERATING DEPARTMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operationalContexts" type="operationalContexRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>OPERATIONAL CONTEXTs for OPERATING DEPARTMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="OperatorView" substitutionGroup="DerivedView">
		<xsd:annotation>
			<xsd:documentation>Simplified view of OPERATOR. All data except the identifier will be derived through the relationship.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Operator_DerivedViewStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Operator_DerivedViewStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an OPERATOR VIEW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DerivedViewStructure">
				<xsd:sequence>
					<xsd:element ref="OperatorRef" minOccurs="0"/>
					<xsd:group ref="OrganisationNameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="ControlCentres_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A listof CONTROL CENTREs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ControlCentreRef"/>
					<xsd:element ref="ControlCentre"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ControlCentre" substitutionGroup="OrganisationPart_">
		<xsd:annotation>
			<xsd:documentation>An ORGANISATION PART for an operational team who are responsible for issuing commands to control the services.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ControlCentre_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="OrganisationPartGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ControlCentreGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="ControlCentreIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of  CONTROL CENTRE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ControlCentre_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for CONTROL CENTREs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrganisationPart_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ControlCentreGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ControlCentreGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CONTROL CENTRE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number used to identify CONTROL CENTRE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ControlCentreCode" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unique alphanumeric identification of CONTROL CENTRE  used to identify source  of request to external systems.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DepartmentRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TransportAdministrativeZone" abstract="false" substitutionGroup="Zone">
		<xsd:annotation>
			<xsd:documentation>A ZONE relating to the management responsibilities of an ORGANISATION. For example to allocate bus stop identifiers for a region.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TransportAdministrativeZone_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfPointsGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AdministrativeZoneGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TransportAdministrativeZoneGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TransportAdministrativeZoneIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TRANSPORT ADMINISTRATIVE ZONE. </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TransportAdministrativeZone_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an TRANSPORT ADMINISTRATIVE  ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AdministrativeZone_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TransportAdministrativeZoneGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TransportAdministrativeZoneGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an TRANSPORT ADMINISTRATIVE  ZONE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="AllVehicleModesListOfEnumeration" default="all" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRANSPORT MODE for which this zone applies. Default is all</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
