chouette-exchange-netex/xsd/netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_version-v01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="netex_equipmentVehiclePassenger_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines passenger vehicle EQUIPMENT </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/ifopt}ifopt_equipment-v0.3.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG6</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TICKETING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE PASSENGER EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_accessibility/netex_acsb_accessibility-v0.3.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support-v0.1.xsd"/>
	<xsd:group name="VehicleEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AccessVehicleEquipment"/>
			<xsd:element ref="WheelchairVehicleEquipment"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="vehicleEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>List of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessVehicleEquipment"/>
					<xsd:element ref="WheelchairVehicleEquipment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====ACCESS=================================================================== -->
	<xsd:element name="ActualVehicleEquipment" type="ActualVehicleEquipment_VersionStructure" abstract="true" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>An item of EQUIPMENT of a particular type actually available in an individual VEHICLE.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActualVehicleEquipment_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Abstract Type for an ACTUAL VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActualVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ActualVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACTUAL VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unist of equipoment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element ref="EquipmentRef" minOccurs="0"/>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="AccessVehicleEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for ACCESS providing information such as low floor, ramp, access area dimensions, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessVehicleEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCESS VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicle is low floor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ramp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a ramp0 to access vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RampBearingCapacity" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum weight that Ramp can bear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steps to board or alight from vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum step height to board.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GapToPlatform" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Normal gap between vehicle and platform.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AutomaticDoors" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are Automatic Doors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SuitableFor" type="MobilityLIst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mobobility needs for which access aequipment is suitable</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistanceNeeded" type="AssistanceNeededEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of assistance needed to board - level Access allows self  boarding</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistedBoardingLocation" type="AssistedBoardingLocationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Position on platform for boarding</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GuideDogsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a GuideDog is allowed for acecss.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WheelchairVehicleEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for Wheel chair accessibility on board a VEHICLE providing information such as the number of wheel chair areas and the access dimensions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WheelchairVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Fixed" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether the EQUIPMENT is fixed at a place or min a vehicle.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WheelchairVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WheelchairVehicleEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a WHEELCHAIR VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WheelchairVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an WHEELCHAIR VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasWheelChairSpaces" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are any wheelchair spaces. Should be true if Number of Wheelchair spaces is greater than zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfWheelchairAreas" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of wheelchair places on vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LengthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanionSeat" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a companion seat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
