chouette-exchange-netex/xsd/netex_part_2/part2_journeyTimes/netex_coupledJourney_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_coupledJourney_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_vehicleService_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version-v0.1.xsd"/>
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="journeyPartsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  JOURNEY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyPart" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="coupledJourneysInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  COUPLED JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CoupledJourney" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="journeyPartCouplesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of  JOURNEY PART COUPLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyPartCouple" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="journeyParts_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="JourneyPartRef"/>
					<xsd:element ref="JourneyPart" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyPart" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A part of a VEHICLE JOURNEY created according to a specific functional purpose, for instance in situations when vehicle coupling or separating occurs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyPart_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyPartGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyPartIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyPart_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyPartGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyPartGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for JOURNEY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of JOURNEY PART</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ParentJourneyRef" type="VehicleJourneyRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to parent of which this is part. If given by context does not need to be stated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainPartRef" type="JourneyPartCoupleRefStructure">
				<xsd:annotation>
					<xsd:documentation>Main JOURNEY PART for journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="JourneyPartCoupleRef" minOccurs="0"/>
			<xsd:element ref="TrainNumberRef" minOccurs="0"/>
			<xsd:element ref="BlockPartRef" minOccurs="0"/>
			<xsd:element name="FromStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point at which this JOURNEY PART starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point at which this JOURNEY PART ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>Start time of JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>End time of JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PurposeOfJourneyPartitionRef" minOccurs="0"/>
			<xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Facilities available during JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="coupledJourneys_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of COUPLED JOURNEYS.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="CoupledJourneyRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CoupledJourney" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A complete journey operated by a coupled train, composed of two or more VEHICLE JOURNEYs remaining coupled together all along a JOURNEY PATTERN. A COUPLED JOURNEY may be viewed as a single VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CoupledJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CoupledJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="CoupledJourneyIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CoupledJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for COUPLED JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="CoupledJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CoupledJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for COUPLED JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of COUPLED JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainBlockRef" minOccurs="0"/>
			<xsd:element name="journeys" type="vehicleJourneyRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE JOURNEYs making up the COUPLED JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="journeyPartCouples_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY PART COUPLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="JourneyPartCoupleRef"/>
					<xsd:element ref="JourneyPartCouple" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyPartCouple" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Two or more  JOURNEY PARTs of different VEHICLE JOURNEYs served simultaneously by a train set up by coupling their single vehicles.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyPartCouple_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyPartCoupleGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyPartCoupleIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyPartCouple_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a JOURNEY PART COUPLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyPartCoupleGroup"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger" use="required">
					<xsd:annotation>
						<xsd:documentation>Order of JOURNEY PART COUPLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyPartCoupleGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for  JOURNEY PART COUPLe.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time of Departure.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>Start time of JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>End time of JOURNEY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FromStopPointRef" type="ScheduledStopPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Point at which this  JOURNEY PART starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToStopPointRef" type="ScheduledStopPointRefStructure">
				<xsd:annotation>
					<xsd:documentation>Point at which this JOURNEY PART ends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainPartRef" type="JourneyPartRefStructure">
				<xsd:annotation>
					<xsd:documentation>Main Journey JOURNEY PART of coupling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="journeyParts" type="journeyPartRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOUREY PARTs in JOURNEY PART COUPLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TrainNumberRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PurposeOfJourneyPartition" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>An operational purpose changing within a JOURNEY PATTERN and with this subdividing the SERVICE JOURNEY into JOURNEY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PurposeOfJourneyPartition_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PurposeOfJourneyPartitionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PurposeOfJourneyPartition_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PURPOSE OF JOURNEY PARTITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
