chouette-exchange-netex/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourney_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_vehicleJourney_version">
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journey_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_noticeAssignment_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_vehicleJourneyTimes_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_passingTimes_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_coupledJourney_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_vehicleJourneyFrequency_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:complexType name="trainNumbersInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TrainNumber" maxOccurs="1"/>
					<xsd:element ref="TrainNumberRef"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===Journey  Pattern===================================================== -->
	<xsd:element name="VehicleJourney_" type="Journey_VersionStructure" abstract="true" substitutionGroup="Journey_">
		<xsd:annotation>
			<xsd:documentation>The planned movement of a public transport vehicle on a DAY TYPE from the start point to the end point of a JOURNEY PATTERN on a specified ROUTE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleJourney" abstract="false" substitutionGroup="VehicleJourney_" id="VehicleJourney">
		<xsd:annotation>
			<xsd:documentation>The planned movement of a public transport vehicle on a DAY TYPE from the start point to the end point of a JOURNEY PATTERN on a specified ROUTE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="VehicleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="VehicleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VehicleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Journey_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="VehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VehicleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="VehicleJourneyPropertiesGroup"/>
			<xsd:group ref="VehicleJourneyTimesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleJourneyPropertiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="ServiceTimeGroup"/>
			<xsd:group ref="VehicleJourneyReferencesGroup">
				<xsd:annotation>
					<xsd:documentation>Elements for associating journey with  other ENTITIEs.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="VehicleJourneyPartsGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleJourneyPartsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for parts of a VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeDemandTypes" type="timeDemandTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Other TIME DEMAND TYPEs used in JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parts" type="journeyParts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>JOURNEY PARTs  of a JOURNEY - for a multi part JOURNEY only.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICes  of a JOURNEY - for a multi part JOURNEY only.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="noticeAssignments_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleJourneyTimesGroup">
		<xsd:annotation>
			<xsd:documentation>Time Elements for VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="waitTimes" type="vehicleJourneyWaitTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WAIT TIMEs for VEHICLE JOURNEY at different TIMING POINTs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="runTimes" type="vehicleJourneyRunTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Run times for VEHICLE JOURNEY over different TIMING LINKs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="layovers" type="vehicleJourneyLayovers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LAYOVER times for VEHICLE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passingTimes" type="timetabledPassingTimes_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PASSING TIMEs  for VEHICLE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VehicleJourneyReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for associations of VEHICLE JOURNEY with other entities.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dayTypes" type="dayTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DAY TYPEs for Journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RouteRef" minOccurs="0"/>
			<xsd:element ref="JourneyPatternRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a JOURNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TimeDemandTypeRef" type="TimeDemandTypeRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TIME DEMAND TYPE used at start of JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TimingAlgorithmTypeRef" minOccurs="0"/>
			<xsd:element ref="JourneyFrequencyGroupRef" minOccurs="0"/>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
			<xsd:element ref="BlockRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a BLOCK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CourseOfJourneysRef" minOccurs="0"/>
			<xsd:element name="PublicCode" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Public code for JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ServiceTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Service time.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DepartureTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time of departure.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Frequency" type="FrequencyStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Frequency of Journey.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="JourneyDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total length of Journey. Can be computed from individual times.  Add to Departure time to obtain JOURNEY arrival time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TemplateVehicleJourney" abstract="false" substitutionGroup="VehicleJourney_" id="TemplateTemplateVehicleJourney">
		<xsd:annotation>
			<xsd:documentation>A repeating VEHICLE JOURNEY for which a frequency has been specified, either as a HEADWAY JOURNEY GROUP (e.g. every 20 minutes) or a RHYTHMICAL JOURNEY GROUP  (e.g. at 15, 27 and 40 minutes past the hour). It may thus represent multiple journeys.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TemplateVehicleJourney_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LinkSequenceGroup"/>
						</xsd:sequence>
						<xsd:group ref="JourneyGroup"/>
						<xsd:sequence>
							<xsd:group ref="TemplateVehicleJourneyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="VehicleJourneyIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TemplateVehicleJourney_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TEMP_LATE VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Journey_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TemplateVehicleJourneyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TemplateVehicleJourneyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TemplateVehicleJourneyType" type="TemplateVehicleJourneyTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyGroups" type="frequencyGroups_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>frequency groups defining Template journey. Can only be of one type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="DeadRun_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VehicleJourney_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DeadRunGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DeadRunGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DeadRunReferencesGroup">
				<xsd:annotation>
					<xsd:documentation>Reference Elements for a SERVICE JOURNEY, including additional derived data.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:group ref="DeadRunEndpointsGroup"/>
			<xsd:element name="DeadRunType" type="DeadRunTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of DEAD RUN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DeadRunEndpointsGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for  origin and destination of  DEAD RUN Can be derived from the Pattern. Must not  contradict the JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Origin" type="DeadRunEndpointStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Origin  for DEAD RUN. Can be Derived from JORUNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="DeadRunEndpointStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Destination  for DEAD RUN. Can be derived from JORUNEY PATTERN.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="DeadRunEndpointStructure">
		<xsd:annotation>
			<xsd:documentation>Type for  DEAD RUN ENDPOINT (Production Timetable Service). Should not Contradict EDEAD RUN JOURNEY PATTERN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PointRef" minOccurs="0"/>
			<xsd:element ref="TypeOfPointRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DeadRunReferencesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DEAD RUN., including additional derived data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="OperatorRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="DirectionType" minOccurs="0"/>
			<xsd:element name="groupsOfServices" type="groupOfServicesRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GROUPS OF SERVICEs to which a DEAD RUN belongs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trainNumbers" type="trainNumberRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRAIN NUMBERs -= derived through JOURNEY PARTs  of a JOURNEY - for a multi-part JOURNEY only.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ====trains=================================================================== -->
	<xsd:element name="TrainNumber" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Specification of codes assigned to particular VEHICLE JOURNEYs when operated by TRAINs of COMPOUND TRAINs according to a functional purpose (passenger information, operation follow-up, etc).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TrainNumber_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TrainNumberGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TrainNumberIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrainNumber_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TrainNumberGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TrainNumberGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAIN NUMBER Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of TRAIN NUMBER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForAdvertisement" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRAIN NUMBER to use when advertising Train -If different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForProduction" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRAIN NUMBER to use for production    -If different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TimingAlgorithmType" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification of a TIMING ALGORITHM.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TimingAlgorithmType_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TimingAlgorithmTypeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimingAlgorithmType_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
