chouette-exchange-netex/xsd/netex_framework/netex_responsibility/netex_versionFrame_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by christophe duquesne (Dryade SARL) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_versionFrame_version">
	<xsd:include schemaLocation="netex_validityCondition_version-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_versionFrame_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_typeOfValue_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_versionDelta_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_utility/netex_units-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<xsd:element name="VersionFrame" type="VersionFrame_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation> A set of VERSIONS referring to a same DATA SYSTEM and belonging to the same TYPE OF FRAME.  A FRAME may be restricted by VALIDITY CONDITIONs.  Container for a coherent set of versions of objects.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VersionFrame_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="VersionFrameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="VersionFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfFrameRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a TYPE OF VERSION FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BaselineVersionFrameRef" type="VersionRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Prerequisite Baseline VERSION FRAME  that all objects in this version require.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codespaces" type="dataNameSpaces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CODESPACES used in this frame. Normally there will be at least one.  A default may be specified in the Frame defaults.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrameDefaults" type="VersionFrameDefaultsStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default values to use on elements in the frame  that do not explicitly state a value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="versions" type="versions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Formal definitiosn of versioins incuded in frame</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="traces" type="traces_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TRACEs recordeing changes to ENTITIES in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="VersionFrameValiditiesGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VersionFrameValiditiesGroup">
		<xsd:annotation>
			<xsd:documentation>VALIDITY CONDITION elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="frameValidityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VALIDITY CONDITIONs which apply to frame as a whole.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contentValidityConditions" type="validityConditions_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Common VALIDITY CONDITIONs used by elements in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="VersionFrameDefaultsGroup">
		<xsd:annotation>
			<xsd:documentation>Default Elements of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultDataSourceRef" type="DataSourceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default DATA SOURCE. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultResponsibilitySetRef" type="ResponsibilitySetRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RESPONSIBILITY SET. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocale" type="LocaleStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default LOCAL for frame elements. Assume this value for     timezone and language of elements if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocationSystem" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultSystemOfUnits" type="SystemOfUnits" default="SiMetres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of measurement for all dimension values in Frame. Default System  is Si Metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultCurrency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Currency type to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="VersionFrameDefaultsStructure">
		<xsd:annotation>
			<xsd:documentation>Type for frame defaults.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultCodespaceRef" type="CodespaceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default CODESPACE to assume for an identifiers that do not have an explicit CODESPACE specified. .</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultDataSourceRef" type="DataSourceRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default DATA SOURCE. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultResponsibilitySetRef" type="ResponsibilitySetRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default RESPONSIBILITY SET. Assume this value as the DATA SOURCE for content if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocale" type="LocaleStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default LOCAL for frame elements. Assume this value for     timezone and language of elements if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultLocationSystem" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default spatial coordinate system (srsName).  E.g.  WGS84 Value to use for   location elements using coordinates if not specified on individual elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultSystemOfUnits" type="SystemOfUnits" default="SiMetres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of measurement for all dimension values in Frame. Default System  is Si Metres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DefaultCurrency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Default Currency type to use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="dataNameSpaces_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more CODESPACEs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="CodespaceRef"/>
					<xsd:element ref="Codespace"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="typesOfFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more TYPEs OF VERSION FRAM</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TypeOfFrameRef"/>
					<xsd:element ref="TypeOfFrame"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TypeOfFrame" substitutionGroup="TypeOfEntity">
		<xsd:annotation>
			<xsd:documentation>Classification of TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfFrame_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="TypeOfValidityRef" minOccurs="0"/>
							<xsd:element name="FrameClassRef" type="ClassRefStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Class of Frame to contain classes</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="classes" type="ClassInContextRefs_RelStructure" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="typesOfFrame" type="typesOfFrame_RelStructure" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfFrameIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF FRAME.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional" fixed="VersionFrame">
						<xsd:annotation>
							<xsd:documentation>Name of Class of the ENTITY. Allows reflection. Fixed for each ENTITY type.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfFrame_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfEntity_VersionStructure">
				<xsd:group ref="TypeOfFrameGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfValidityRef" minOccurs="0"/>
			<xsd:element name="FrameClassRef" type="ClassRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Class of Frame to contain classes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classes" type="ClassInContextRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typesOfFrame" type="typesOfFrame_RelStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="TypeOfValidity" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>A classification of the validity of TYPEs OF FRAME. E.g. frames for schedules designed for DAY TYPEs, for specific OPERATING DAYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfValidity_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:group ref="TypeOfValidityGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfValidityIdType">
						<xsd:annotation>
							<xsd:documentation>Reference to a TYPE OF VALIDITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfValidity_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:group ref="TypeOfValidityGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TypeOfValidityGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Periodicity" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Periodicity of data in frames of this type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nature" type="FrameNatureEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of presence of data in  Frames of this type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classes" type="classRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classes that should  be present  in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
