chouette-exchange-netex/xsd/netex_framework/netex_genericFramework/netex_grouping_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Nicholas JS Knowles (Trapeze Group Limited) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.12" id="netex_grouping_version">
	<xsd:include schemaLocation="../netex_utility/netex_utility_types-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_grouping_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../netex_responsibility/netex_typeOfValue_version-v0.1.xsd"/>
	<!-- =====GROUPING=============================================== -->
	<xsd:element name="GroupOfEntities" type="GroupOfEntities_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A grouping of ENTITies which will be commonly referenced for a specific purpose.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfEntities_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="GroupOfEntitiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GroupOfEntitiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of GROUP OF ENTITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortName" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short Name of GROUP OF ENTITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Further Description of a GROUP OF ENTITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PurposeOfGroupingRef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a PURPOSE OF GROUPING.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PrivateCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- =====GROUPING=============================================== -->
	<xsd:complexType name="groupOfEntitiesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of GROUP OF ENTITIes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="GeneralGroupOfEntities" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="GeneralGroupOfEntities" abstract="false" substitutionGroup="GroupOfEntities">
		<xsd:annotation>
			<xsd:documentation>A grouping of ENTITies which will be commonly referenced for a specific purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="GeneralGroupOfEntities_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GeneralGroupOfEntitiesGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupOfEntitiesIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GeneralGroupOfEntities_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a GENERAL GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GroupOfEntities_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="GeneralGroupOfEntitiesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="GeneralGroupOfEntitiesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a GENERAL GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="members" type="objectRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Members of  GROUP OF ENTITies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="PurposeOfGrouping" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Functional purpose for which GROUPs of elements are defined. The PURPOSE OF GROUPING may be restricted to one or more types of the given object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PurposeOfGrouping_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PurposeOfGroupingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PurposeOfGroupingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PurposeOfGrouping_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a PURPOSE OF GROUPING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PurposeOfGroupingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PurposeOfGroupingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a  PURPOSE OF GROUPING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="classes" type="classRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allowed class types fo grouping</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TypeOfEntity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="AbstractGroupMember" abstract="true" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Abstract member of a GROUP OF ENTITY MEMBERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AbstractGroupMember_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="GroupMemberIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AbstractGroupMember_VersionedChildStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a GROUP OF ENTITY MEMBERs. Subclass this for specific member types.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="order" type="xsd:positiveInteger">
					<xsd:annotation>
						<xsd:documentation>Order of member within parent group.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="GroupMember" type="GroupMember_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>General purpose member of a GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupMember_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a General purpose member of a GROUP OF ENTITies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractGroupMember_VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="GroupRef" type="VersionOfObjectRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Parent GROUP OF ENTITies to which this member assigns service  -  If given by context, can be omitted.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MemberObjectRef" type="VersionOfObjectRefStructure">
						<xsd:annotation>
							<xsd:documentation>Reference to a member of the group.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="GroupConstraintMember" type="GroupConstraintMember_VersionedChildStructure" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>Specifies a member of a set.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupConstraintMember_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a Group of Entities Constraint Member. Specifies an allowed class to include in a group.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:element name="PurposeOfGroupingRef" type="PurposeOfGroupingRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reference to a PUPOSE OF GROUPING  to which this member belongs.  If given by context does not need to be specified.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MemberClassRef" type="ClassRefStructure">
						<xsd:annotation>
							<xsd:documentation>Allowed Class of Entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MemberTypeOfValueRef" type="TypeOfValueRefStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Allowed type of Entity.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
