chouette-exchange-netex/xsd/netex_framework/netex_frames/netex_serviceCalendarFrame_support-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by christophe duquesne (Dryade SARL) --><xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_serviceCalendar_support">	<xsd:include schemaLocation="../netex_responsibility/netex_versionFrame_support-v0.1.xsd"/>	<!-- ======================================================================= -->	<xsd:simpleType name="ServiceCalendarFrameIdType">		<xsd:annotation>			<xsd:documentation>Identifier of a SERVICE CALENDAR FRAME.</xsd:documentation>		</xsd:annotation>		<xsd:restriction base="VersionFrameIdType"/>	</xsd:simpleType>	<xsd:element name="ServiceCalendarFrameRef" substitutionGroup="VersionFrameRef">		<xsd:annotation>			<xsd:documentation> Reference to a SERVICE CALENDAR FRAME.</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:complexContent>				<xsd:extension base="ServiceCalendarFrameRefStructure"/>			</xsd:complexContent>		</xsd:complexType>	</xsd:element>	<xsd:complexType name="ServiceCalendarFrameRefStructure">		<xsd:annotation>			<xsd:documentation>Type for a reference to a SERVICE CALENDAR FRAME.</xsd:documentation>		</xsd:annotation>		<xsd:simpleContent>			<xsd:restriction base="VersionFrameRefStructure">				<xsd:attribute name="ref" type="ServiceCalendarFrameIdType" use="required">					<xsd:annotation>						<xsd:documentation>Identifier of SERVICE CALENDAR FRAME</xsd:documentation>					</xsd:annotation>				</xsd:attribute>			</xsd:restriction>		</xsd:simpleContent>	</xsd:complexType></xsd:schema>