chouette-exchange-netex/xsd/netex_part_1/part1_networkDescription/netex_lineNetwork_version-v0.1.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_lineNetwork_version">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_line_version-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="netex_lineNetwork_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the LINE NETWORK types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0}netex_FILEXX-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx LINE NETWORK types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="LineNetworkInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>LINE NETWORK related elements in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="lineNetworks" type="lineNetworksInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINE NETWORKs in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="lineNetworksInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of LINE NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="LineNetwork" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A description of the connectivity of a line as a set of LINE SECTIONs. This is sufficient to draw a route map for the whole line including branches.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===LINE NETWORK =================================================== -->
	<xsd:element name="LineNetwork" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A description of the topological connectivity of a LINE as a set of LINE SECTIONs. This is sufficient to draw a route map for the whole line including branches and loops.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LineNetwork_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineNetworkGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LineNetworkIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LineNetwork_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE NETWORK restricts id.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="LineNetworkGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineNetworkGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINE NETWORK.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element name="sections" type="lineSections_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>LINE SECTIONS within the LINE NETWORK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:complexType name="lineSections_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LINE SECTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="LineSectionRef"/>
					<xsd:element ref="LineSection"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LineSection" abstract="false" substitutionGroup="Section_">
		<xsd:annotation>
			<xsd:documentation>An ordered set of LINKs. for a line</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LineSection_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="GroupOfEntitiesGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="CommonSectionGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LineSectionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LineSectionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LineSection_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonSection_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LineSectionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineSectionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINE SECTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reverseMembers" type="commonSectionPointMembers_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Revesre direction ordered sequence of POINTS Used in the COMMON SECTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SectionType" type="SectionTypeEnumeration" default="trunk" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of LINE SECTION. Default is trunK.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LineRef" minOccurs="0"/>
			<xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="LineSectionPointMember" abstract="false" substitutionGroup="CommonSectionPointMember">
		<xsd:annotation>
			<xsd:documentation>An ordered set of LINKs. for a line</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="LineSectionPointMember_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LineSectionPointMember_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LINE SECTION POINT MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonSectionPointMember_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="LineSectionPointMemberGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineSectionPointMemberGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LINE SECTION POINT MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineSectionPointType" type="LineSectionPointTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Classification of Point Member</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShowAsAccessible" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether point is to be shown as Accessible</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingVehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Connecting Vehicle Modes to show for Point if different from  point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
