chouette-exchange-netex/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentTicketing_version-v0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Nicholas Knowles (Kizoom) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3" id="netex_ifopt_equipmentTicketing_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/ifopt}ifopt_equipment-v0.3.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG6</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TICKETING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>TICKETING EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_travelRights_types-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version-v0.3.xsd"/>
	<xsd:group name="TicketingEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of TICKETING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="TicketingEquipment"/>
			<xsd:element ref="TicketValidatorEquipment"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="TicketingEquipmentListGroup">
		<xsd:annotation>
			<xsd:documentation>List of TICKETING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TicketingEquipment" minOccurs="0"/>
			<xsd:element ref="TicketValidatorEquipment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====ACCESS=================================================================== -->
	<xsd:simpleType name="QueueManagementEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Queue Management.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="maze"/>
			<xsd:enumeration value="separateLines"/>
			<xsd:enumeration value="ticketed"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:element name="TicketingEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PASSENGER EQUIPMENT for ticketing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TicketingEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TicketingEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TICKETING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TicketingEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TicketingEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TICKETING EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleModes" type="VehicleModeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Modes for which ticketing services apply.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TicketMachines" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are ticket machines.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfMachines" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of ticket machines.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfMachineInterface" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a low counter for accessibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TicketingFacilityList" minOccurs="0"/>
			<xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
			<xsd:element name="TicketOffice" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a distinct ticket office.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TicketCounter" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a ticket counter.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfTills" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of ticket windows.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QueueManagement" type="QueueManagementEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Queue management.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment methods allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TicketTypesAvailable" type="TicketTypeListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of Ticket available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScopeOfTicketsAvailable" type="ScopeOfTicketListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of Ticket available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LowCounterAccess" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a low counter for accessibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfLowCounter" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of counter for accessibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InductionLoops" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are induction loops.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<!-- =================================================== -->
	<xsd:simpleType name="TicketValidatorEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Ticket Validator.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="paperStamp"/>
			<xsd:enumeration value="contactLess"/>
			<xsd:enumeration value="magnetic"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketValidatorListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of TICKET VALIDATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketValidatorEnumeration"/>
	</xsd:simpleType>
	<xsd:element name="TicketValidatorEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of PASSENGER EQUIPMENT describing a ticket validator.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TicketValidatorEquipment_VersionStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TicketValidatorEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TICKET VALIDATOR EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TicketValidatorGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TicketValidatorGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TICKET VALIDATOR EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TicketValidatorType" type="TicketValidatorListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of validation supported by validator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
