chouette-exchange-netex/xsd/NX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Just a convenience  arteifact for  accessng elements -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="nx">
	<!-- === THIS SCHEMA PROVIDES A THEMATIC ORGANISATION of NeTEx XML OBJECTS   =========== -->
	<!-- ===  ONLY TO FACILITATE  STUDY OF SCHEMA ELEMENTS.  DO NOT USE IT FOR DOCUMENTS  =========== -->
	<!-- === Use NeTEx_publication.xsd or NeTEx_publication_timetable  or NeTEx_siri.xsd=========== -->
	<!-- (C) Copyright 2009-2012 CEN,Crown Copyright -->
	<xsd:include schemaLocation="netex_service/netex_all-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_framework/netex_payload_framework-v0.1.xsd"/>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:element name="Nx">
		<xsd:annotation>
			<xsd:documentation>Dummy schema to show Netex elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="NeTExStructure">
					<xsd:attribute name="version" type="xsd:normalizedString"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NeTExStructure">
		<xsd:annotation>
			<xsd:documentation>Convenience presentation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="allObjects" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="PayloadGroup"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="commonDescendents" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="points" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Point"/>
									<xsd:element ref="PointRef"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="links" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Link"/>
									<xsd:element ref="LinkRef"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="zones" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Zone"/>
									<xsd:element ref="ZoneRef"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="linkSequences" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:sequence>
										<xsd:annotation>
											<xsd:documentation>sequence.</xsd:documentation>
										</xsd:annotation>
										<xsd:element ref="LinkSequence"/>
									</xsd:sequence>
									<xsd:sequence>
										<xsd:annotation>
											<xsd:documentation>point in line.</xsd:documentation>
										</xsd:annotation>
										<xsd:element ref="PointInLinkSequence"/>
										<xsd:element ref="LinkInLinkSequence"/>
										<xsd:element ref="LinkSequenceRef"/>
									</xsd:sequence>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="places" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Place"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transfers" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Transfer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="equipment" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Equipment"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="versionFrames" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="VersionFrame" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="groups" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="GroupOfEntities"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="refs" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="VersionOfObjectRef"/>
									<xsd:element ref="PlaceRef"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="typesOf" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="TypeOfValue"/>
									<xsd:element ref="TypeOfPlace"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="organisations" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Organisation_" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="frames" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GeneralFrame" minOccurs="0"/>
						<xsd:element ref="ServiceCalendarFrame" minOccurs="0"/>
						<xsd:element ref="InfrastructureFrame" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="SiteFrame" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="ServiceFrame" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="TimetableFrame" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:group ref="NeTExPayloadGroup"/>
			<xsd:element name="filters" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="FiltersGroup"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--== Requests ===================================================================== -->
	<xsd:group name="NeTExPayloadGroup">
		<xsd:sequence>
			<xsd:element name="network" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="NetworkDescriptionGroup"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tactical" minOccurs="0">
				<xsd:complexType>
					<xsd:group ref="TacticalPlanningGroup"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="journeys" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="timetables" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="TimetableFrame"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="blocks" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>BLOCKs in frame.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice maxOccurs="unbounded">
									<xsd:element ref="Block"/>
									<xsd:element ref="CompoundBlock"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="vehicleServices" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>VEHICLE SERVICES in frame.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="VehicleService" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="courseOfJourneys" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>COURSE OF JOURNEYs (Runs)  in frame.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="CourseOfJourneys" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NetworkDescriptionGroup">
		<xsd:annotation>
			<xsd:documentation>Presentation of Network Description Elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>IFOPT places.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Site" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="networkElements" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Infrastructure elements.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="RoadJunction" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="RoadElement" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="RailwayJunction" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="RailwayElement" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="WireJunction" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="WireElement" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="networkRestrictions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>infrastructure constraints.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="RestrictedManoeuvre" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="OvertakingPossibility" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element ref="MeetingRestriction" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:element ref="VehicleTypeAtPoint" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="routes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Route_" maxOccurs="unbounded"/>
						<xsd:element ref="RouteLink" maxOccurs="unbounded"/>
						<xsd:element ref="RoutePoint" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="networks" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Network" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lines" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GroupOfLines" maxOccurs="unbounded"/>
						<xsd:element ref="Line_" maxOccurs="unbounded"/>
						<xsd:element ref="Direction" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="equipment" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Equipment" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TacticalPlanningGroup">
		<xsd:annotation>
			<xsd:documentation>Presentation of Tactical Planning Description Elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="service" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Service.</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="ScheduledStopPoint" maxOccurs="unbounded"/>
						<xsd:element ref="ServiceLink" maxOccurs="unbounded"/>
						<xsd:element ref="ServicePattern" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="timingPatterns" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Timing elements.</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="TimingLink" maxOccurs="unbounded"/>
						<xsd:element ref="TimingPoint" maxOccurs="unbounded"/>
						<xsd:element ref="TimingPattern" maxOccurs="unbounded"/>
						<xsd:element ref="TimingPointInJourneyPattern"/>
						<xsd:element ref="TimingLinkInJourneyPattern" maxOccurs="unbounded"/>
						<xsd:element ref="TimeDemandType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="journeyPatterns" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>JOURNEY PATTERN.</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="JourneyPattern_" maxOccurs="unbounded"/>
						<xsd:element ref="TimingLinkInJourneyPattern" maxOccurs="unbounded"/>
						<xsd:element ref="StopPointInJourneyPattern" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="connections" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="Transfer"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="journeys" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Vehicle Journeys.</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="journeys" minOccurs="0">
							<xsd:complexType>
								<xsd:choice maxOccurs="unbounded">
									<xsd:element ref="Journey_"/>
									<xsd:element ref="JourneyPart" maxOccurs="unbounded"/>
									<xsd:element ref="JourneyPartCouple"/>
									<xsd:element ref="GroupOfServices" maxOccurs="1"/>
									<xsd:element ref="TrainNumber"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="journeyInterchange" minOccurs="0">
							<xsd:complexType>
								<xsd:choice maxOccurs="unbounded">
									<xsd:element ref="InterchangeRule"/>
									<xsd:element ref="JourneyMeeting" maxOccurs="unbounded"/>
									<xsd:element ref="Interchange_"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="flexibleService" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Service.</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="FlexibleLine" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="FlexibleRoute" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="logicalDisplays" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Vehicle Journeys.</xsd:documentation>
						</xsd:annotation>
						<xsd:element ref="LogicalDisplay" minOccurs="0"/>
						<xsd:element ref="PassengerInformationEquipment" minOccurs="0"/>
						<xsd:element ref="DisplayAssignment" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="FiltersGroup">
		<xsd:sequence>
			<xsd:element name="requestFilters" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>One or more Request filters that control data to be included in output.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="AbstractRequestFilter" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subscriptionFilters" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>One or more Request filters that control data to be included in output.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="AbstractSubscriptionFilter" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
