chouette-exchange-netex/xsd/netex_part_1/part1_tacticalPlanning/netex_journeyTimings_version-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_journeyTimings_version">
	<xsd:include schemaLocation="netex_journeyTiming_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version-v0.4.xsd"/>
	<xsd:include schemaLocation="../part1_networkDescription/netex_timingPattern_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support-v0.1.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support-v0.3.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support-v0.1.xsd"/>
	<!-- === JourneyTiming========================================================= -->
	<xsd:element name="JourneyTiming" type="JourneyTiming_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A  time-related information referring to journey timing whose value depends on the time of use and so can be associated with a TIME DEMAND TYPE, TIME BAND or OPERATIONAL CONTEXT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyTiming_VersionedChildStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY TIMING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyTimingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyTimingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY TIMING.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of JOURNEY TIMING.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element ref="TimeDemandTypeRef"/>
				<xsd:element ref="TimebandRef"/>
			</xsd:choice>
			<xsd:element ref="VehicleMode" minOccurs="0"/>
			<xsd:element ref="OperationalContextRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ===WaitTime===================================================== -->
	<xsd:complexType name="journeyWaitTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY WAIT TIMEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyWaitTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyWaitTime" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>The time a vehicle has to wait at a specific TIMING POINT IN JOURNEY PATTERN, for a specified TIME DEMAND TYPE. This wait time can be superseded by a VEHICLE JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyWaitTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyWaitTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyWaitTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyWaitTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyWaitTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyWaitTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingPointRef" minOccurs="0"/>
			<xsd:element name="WaitTime" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>Wait time as interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===PatternRunTime===================================================== -->
	<xsd:complexType name="journeyRunTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyRunTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyRunTime" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>The time taken to traverse a TIMING LINK in a particular JOURNEY PATTERN, for a specified TIME DEMAND TYPE. If it exists, it will override the DEFAULT SERVICE JOURNEY RUN TIME and DEFAULT DEAD RUN RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyRunTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyRunTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyRunTimeIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyRunTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyRunTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyRunTimeGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TimingLinkRef" minOccurs="0"/>
			<xsd:element name="RunTime" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>RUN TIME as an interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ===JLayoverTime===================================================== -->
	<xsd:complexType name="journeyLayovers_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY LAYOVERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyLayover" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyLayover" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>Time allowance at the end of each journey on a specified JOURNEY PATTERN, to allow for delays and for other purposes. This layover supersedes any global layover and may be superseded by a specific VEHICLE JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyLayoverStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyLayoverGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyLayoverIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyLayoverStructure">
		<xsd:annotation>
			<xsd:documentation>Type for JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="JourneyLayoverGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="JourneyLayoverGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Layover" type="xsd:duration">
				<xsd:annotation>
					<xsd:documentation>Layover time as interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PointRef"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="turnaroundTimeLimitTimes_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of properties of TURNAROUND TIME LIMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="TurnaroundTimeLimitTime" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TurnaroundTimeLimitTime" abstract="false" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>The maximum time for which a vehicle may be scheduled to wait at a particular TIMING POINT (often included in a TURN STATION) without being returned to a PARKING POINT. A minimum time for a vehicle to turn its direction may also be recorded. This may be superseded by a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TurnaroundTimeLimitTime_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TurnaroundTimeLimitTimeGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TurnaroundTimeLimitTimeIdType" use="optional"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TurnaroundTimeLimitTime_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TURNAROUND TIME LIMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="TurnaroundTimeLimitTimeGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TurnaroundTimeLimitTimeGroup">
		<xsd:annotation>
			<xsd:documentation>TURNAROUND TIME LIMIT elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum turnaround time as an interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum turnaround time as an interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== Metamodel ================================================================ -->
	<xsd:complexType name="journeyHeadways_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEY HEADWAY Interval.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="JourneyHeadway" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="JourneyHeadway" abstract="false" substitutionGroup="JourneyTiming">
		<xsd:annotation>
			<xsd:documentation>Headway interval information that is available for all the VEHICLE JOURNEYs running on the JOURNEY PATTERN  for a given TIME DEMAND TYPE,  at a given TIMING POINT.  This is a default value that can be superseded by VEHICLE JOURNEY HEADWAY. This information must be consistent with HEADWAY JOURNEY GROUP if available (HEADWAY JOURNEY GROUP being a more detailed way of describing headway services). </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="JourneyHeadway_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="JourneyTimingGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="HeadwayIntervalGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="JourneyHeadwayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JourneyHeadway_VersionedChildStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a JOURNEY HEADWAY Interval.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JourneyTiming_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="HeadwayIntervalGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HeadwayIntervalGroup">
		<xsd:annotation>
			<xsd:documentation>Elements of a JOURNEY HEADWAY Interval.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScheduledHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Scheduled normal headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumHeadwayInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum headway interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:complexType name="HeadwayIntervalStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a HEADWAY INTERVAL.</xsd:documentation>
		</xsd:annotation>
		<xsd:group ref="HeadwayIntervalGroup"/>
	</xsd:complexType>
</xsd:schema>
