chouette-exchange-netex/xsd/netex_part_1/part1_tacticalPlanning/netex_vehicleJourney_support-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_vehicleJourney_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_servicePattern_support-v0.1.xsd"/>
	<xsd:include schemaLocation="netex_journeyTiming_support-v0.1.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for version 1.0 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE JOURNEY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/2.0/xsd/}netex_vehicleJourney_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/2.0/xsd/netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support-v0.1.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2011</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the VDV, RTIG XML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NeTEx VEHICLE JOURNEY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LinkSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyRef" type="JourneyRefStructure" substitutionGroup="LinkSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LinkSequenceRefStructure">
				<xsd:attribute name="ref" type="JourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="explicitJourneyRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ServiceJourneyRef"/>
					<xsd:element ref="VehicleJourneyRef"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- JOURNEY====================================================== -->
	<!-- ======================================================================= -->
	<!-- ===VEHICLE JOURNEY====================================================== -->
	<xsd:simpleType name="VehicleJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleJourneyRef" type="VehicleJourneyRefStructure" substitutionGroup="JourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE JOURNEY. If given by context does not need to be repeated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyRefStructure">
				<xsd:attribute name="ref" type="VehicleJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of VEHICLE JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="vehicleJourneyRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE JOURNEYs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleJourneyRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === DATED VEHICLE JOURNEY====================================================== -->
	<xsd:simpleType name="DatedVehicleJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleJourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="DatedVehicleJourneyRef" type="VehicleJourneyRefStructure" substitutionGroup="JourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DatedVehicleJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleJourneyRefStructure">
				<xsd:attribute name="ref" type="DatedVehicleJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of DATED VEHICLE JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === NORMAL DATED VEHICLE JOURNEY====================================================== -->
	<xsd:simpleType name="NormalDatedVehicleJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a NORMAL DATED VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="DatedVehicleJourneyIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NormalDatedVehicleJourneyTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for type of NORMAL DATED JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="garageRunOut">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="garageRunIn">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turningManoeuvre">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===DEAD RUN====================================================== -->
	<xsd:simpleType name="DeadRunIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleJourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="DeadRunRef" type="DeadRunRefStructure" substitutionGroup="VehicleJourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeadRunRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DEAD RUN.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleJourneyRefStructure">
				<xsd:attribute name="ref" type="DeadRunIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DEAD RUN.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DeadRunTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for DEAD RUN. type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="garageRunOut">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="garageRunIn">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turningManoeuvre">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is actively managed as a possible connection between journeys and passengers are informed of real-time alterations.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === TRAIN NUMBER ====================================================== -->
	<xsd:simpleType name="TrainNumberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TrainNumberRef" type="TrainNumberRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TrainNumberRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAIN NUMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TrainNumberIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRAIN NUMBER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="trainNumberRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAIN NUMBERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TrainNumberRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === SERVICE JOURNEY ====================================================== -->
	<xsd:simpleType name="ServiceJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleJourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceJourneyRef" type="ServiceJourneyRefStructure" substitutionGroup="JourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICE JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyRefStructure">
				<xsd:attribute name="ref" type="ServiceJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SERVICE JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===TEMPLATE JORUNEY=================================================== -->
	<xsd:simpleType name="DynamicAdvertisementEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TEMPLATE VEHICLE JOURNEY type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="always">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="never">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="onlyIfOrdered"/>
			<xsd:enumeration value="onlyIfSignedOn"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ===TEMPLATE JORUNEY=================================================== -->
	<xsd:simpleType name="TemplateVehicleJourneyTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TEMPLATE VEHICLE JOURNEY type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="headway">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is considered a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="rhythmic">
				<xsd:annotation>
					<xsd:documentation>INTERCHANGE is advertised to public as a possible connection between journeys.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TemplateServiceJourneyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ServiceJourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="TemplateServiceJourneyRef" type="TemplateServiceJourneyRefStructure" substitutionGroup="ServiceJourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TemplateServiceJourneyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ServiceJourneyRefStructure">
				<xsd:attribute name="ref" type="TemplateServiceJourneyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TEMPLATE VEHICLE JOURNEY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===Service Journey====================================================== -->
	<xsd:simpleType name="SpecialServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyIdType"/>
	</xsd:simpleType>
	<xsd:element name="SpecialServiceRef" type="SpecialServiceRefStructure" substitutionGroup="JourneyRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SpecialServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyRefStructure">
				<xsd:attribute name="ref" type="SpecialServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SPECIAL SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="specialServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list references to a SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SpecialServiceRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===Service Journey====================================================== -->
	<xsd:simpleType name="DatedSpecialServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DATED SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpecialServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="DatedSpecialServiceRef" type="DatedSpecialServiceRefStructure" substitutionGroup="SpecialServiceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DATED SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DatedSpecialServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a DATED SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpecialServiceRefStructure">
				<xsd:attribute name="ref" type="DatedSpecialServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DATED SPECIAL SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DatedSpecialServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list references to a DATED SPECIAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="DatedSpecialServiceRef"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="GroupOfServicesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfServicesRef" type="GroupOfServicesRefStructure" substitutionGroup="GroupOfEntitiesRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF SERVICEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfServicesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a GROUP OF SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfServicesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF Services.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="groupOfServicesRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list references to GROUP OF SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfServicesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfServicesMemberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF SERVICEs. MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupMemberIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfServiceRef" type="TypeOfServiceRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="typeOfServiceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfServiceRef" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfProductCategoryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PRODUCT CATEGORY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfProductCategoryRef" type="TypeOfProductCategoryRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PRODUCT CATEGORY. Product of a JOURNEY. e.g. ICS, Thales etc 
See ERA B.4 7037 Characteristic description code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfProductCategoryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF PRODUCT CATEGORY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfProductCategoryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF PRODUCT CATEGORY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="typeOfProductCategoryRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF PRODUCT CATEGORY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfProductCategoryRef" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TimingAlgorithmTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TimingAlgorithmTypeRef" type="TimingAlgorithmTypeRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TimingAlgorithmTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TimingAlgorithmTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TIMING ALGORITHM TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VehicleJourneyWaitTimeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY WAIT TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyTimingIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleJourneyRunTimeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY RUN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyTimingIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleJourneyLayoverIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY LAYOVER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyTimingIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleJourneyHeadwayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE JOURNEY FREQUENCY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyTimingIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="JourneyFrequencyGroupIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of JOURNEY FREQUENCY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="JourneyFrequencyGroupRef" type="JourneyFrequencyGroupRefStructure" abstract="false" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a JOURNEY FREQUENCY GROUP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="JourneyFrequencyGroupRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a JOURNEY FREQUENCY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="JourneyFrequencyGroupIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a JOURNEY FREQUENCY GROUP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<xsd:simpleType name="HeadwayUseEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for headway use.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="DisplayPassingTimesOnly"/>
			<xsd:enumeration value="DisplayAsWellAsPassingTimes"/>
			<xsd:enumeration value="DisplayInsteadOfPassingTimes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HeadwayJourneyGroupIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of HEADWAY JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyFrequencyGroupIdType"/>
	</xsd:simpleType>
	<xsd:element name="HeadwayJourneyGroupRef" type="HeadwayJourneyGroupRefStructure" abstract="false" substitutionGroup="JourneyFrequencyGroupRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a HEADWAY JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HeadwayJourneyGroupRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a HEADWAY JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyFrequencyGroupRefStructure">
				<xsd:attribute name="ref" type="HeadwayJourneyGroupIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a HEADWAY JOURNEY GROUP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="RhythmicalJourneyGroupIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of RHYTHMICAL JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="JourneyFrequencyGroupIdType"/>
	</xsd:simpleType>
	<xsd:element name="RhythmicalJourneyGroupRef" type="RhythmicalJourneyGroupRefStructure" abstract="false" substitutionGroup="JourneyFrequencyGroupRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a RHYTHMICAL JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RhythmicalJourneyGroupRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a RHYTHMICAL JOURNEY GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="JourneyFrequencyGroupRefStructure">
				<xsd:attribute name="ref" type="RhythmicalJourneyGroupIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a RHYTHMICAL JOURNEY GROUP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
